<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="warn" strict="true" name="XMLConfigTest" packages="">

    <Properties>
        <Property name="LOG_PATTERN">
            %highlight{%d{HH:mm:ss.SSS} %-5level %logger{36}.%M() @%L - %msg%n}{FATAL=red, ERROR=red, WARN=yellow, INFO=black, DEBUG=green, TRACE=blue}
        </Property>
        <Property name="SERVER_PORT">29801</Property>
        <Property name="LOG_PATH">logs/</Property>
    </Properties>
    
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        
		<RollingFile name="LOG_ROLLING">
			<FileName>${LOG_PATH}InventoryAPI_${SERVER_PORT}.log</FileName>
			<FilePattern>${LOG_PATH}InventoryAPI_${SERVER_PORT}.%d{yyyy-MM-dd}.log</FilePattern>
			<PatternLayout>
				<Pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{36}.%M:%line - %msg%n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy interval="2" modulate="true" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
			<TimeBasedTriggeringPolicy />
		</RollingFile>
		
    </Appenders>
    
    <Loggers>
	    <Root level="INFO">
	    	<AppenderRef ref="CONSOLE"/>
	    	<AppenderRef ref="LOG_ROLLING" />
	    </Root>
        <logger name="org.hibernate.SQL" level="INFO" additivity="false">
			<AppenderRef ref="LOG_ROLLING" />
		</logger>
    </Loggers>
    
</Configuration>