<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Todo List</title>
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.css" />
        <link type="text/css" rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid-theme.min.css" />
        <link rel="stylesheet" href="https://code.jquery.com/ui/1.11.2/themes/cupertino/jquery-ui.css">
        <link rel="stylesheet" type="text/css" th:href="@{/css/todo.css}"/>
        <script src="https://code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
        <script src="https://code.jquery.com/ui/1.11.2/jquery-ui.min.js"></script>
        <script src="http://ajax.aspnetcdn.com/ajax/jquery.validate/1.9/jquery.validate.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jsgrid/1.5.3/jsgrid.min.js"></script>
        <script type="text/javascript" src="https://unpkg.com/moment"></script>
        <script type="text/javascript" th:src="@{/js/todo.js}"></script>
    </head>
    <body>
        <h1 class="headline">Todo List</h1>
        <div class="search-container">
            <div class="search-row">
                <div class="search-column">
                    <label>Task</label>
                    <input type="text" id="search-task" onkeydown="search(event);">
                </div>
                <div class="search-column">
                    <label>Created Date</label>
                    <input type="date" id="search-createdDate">
                </div>
                <div class="search-column">
                    <label>Updated Date</label>
                    <input type="date" id="search-updatedDate">
                </div>
                <div class="search-column">
                    <button id="testBtn" class="myButton">Search</button>
                </div>
            </div>
        </div>
        <div id="jsGrid"></div>
        <div class="ui-dialog ui-widget ui-widget-content ui-corner-all ui-front ui-draggable ui-resizable" tabindex="-1" role="dialog" aria-describedby="detailsDialog" aria-labelledby="ui-id-1" style="position: absolute;height: auto;width: 400px;top: 192px;left: 289px;display: none;"><div class="ui-dialog-titlebar ui-widget-header ui-corner-all ui-helper-clearfix ui-draggable-handle">
            <span id="ui-id-1" class="ui-dialog-title">Edit Client</span>
            <button type="button" class="ui-button ui-widget ui-state-default ui-corner-all ui-button-icon-only ui-dialog-titlebar-close" role="button" title="Close">
                <span class="ui-button-icon-primary ui-icon ui-icon-closethick"></span>
                <span class="ui-button-text">Close</span>
            </button>
        </div>
        <div id="detailsDialog" class="ui-dialog-content ui-widget-content" style="width: auto; min-height: 93px; max-height: none; height: auto;">
            <form id="detailsForm" novalidate="novalidate">
                <div class="details-form-field">
                    <label for="todoId">ID</label>
                    <input id="todoId" name="todoId" type="number" class="valid" readonly>
                </div>
                <div class="details-form-field">
                    <label for="task">Task</label><span class="validMsg" id="task-validationMsg"></span>
                    <input id="task" name="task" type="text" class="valid">
                </div>
                <div class="details-form-field">
                    <label for="referenceIds">Reference Ids</label><span class="validMsg" id="referIds-validationMsg"></span>
                    <input id="referenceIds" name="referenceIds" type="text" class="valid">
                </div>
                <div class="details-form-field">
                    <label for="createdDate">Created Date</label>
                    <input id="createdDate" name="createdDate" type="text" class="valid" readonly>
                </div>
                <div class="details-form-field">
                    <label for="updatedDate">Updated Date</label>
                    <input id="updatedDate" name="updatedDate" type="text" class="valid" readonly>
                </div>
                <div class="details-form-field">
                    <label class="container" for="isDone">Done
                        <input type="checkbox" id="isDone" name="isDone">
                        <span class="checkmark"></span>
                    </label>
                </div>
                <div class="details-form-field">
                    <button type="submit" id="save" class="myButton">Save</button>
                </div>
            </form>
        </div>
    </body>
</html>